<div class="main-container">
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Filter">
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </p>
      </div>

      <!-- Editing giving error (changed link to any type)-->
      <!-- [link]="i" -->
      <div class="reminder-list" [@listAnim]>
          <app-card *ngFor="let card of cards; index as i"        
            [@itemAnim]
            [link]="i"
            (delete)="deleteCard(i)"
            [title]="card.title" 
            [body]="card.body">
          </app-card>          
      </div>

      <button class="button floating-add-button is-primary" routerLink="new">
        + Add
      </button>
</div>  